
@{
    ViewBag.Title = "DailyOrders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <br />
    @using PagedList.Mvc
    @model PagedList.IPagedList<BanglaKhabarAdmin.Models.OrderModels.OrderInfo>


    <div class="row" style="margin:20px;">

        @if (Model != null)
        {

            <div style="background-color:#ffffff; height:auto; padding:15px; margin-top:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


                <h3 class="text-info"> Orders</h3>


                <form action="@Url.Action("LoadDailyOrders", "Admin")" class="form-inline" method="post">


                        <div class="form-group">
                            <b>Day Name: </b>
                            <input type="date" style="margin:10px;" class="form-control" name="DeleveryDate"  id="DeleveryDate"  /> 
                        </div>



                        <div class="form-group">
                            <button type="submit" style="min-width:150px;" id="btnSearch" class="btn btn-primary col-sm-4">Search</button>
                            
                        </div>
                        <br /><br />
                    </form>

                <hr />


                @if (Model != null)
                {
                    <table class="table table-bordered table-responsive text-center" style="font-size:14px; width:100%;">
                        <thead>
                            <tr class="text-danger">
                                <th style="width:8%;">Delevery Date <span style="font-size:12px; color:brown;">(mm/dd/yyyy)</span> </th>
                                <th>Quantity</th>
                                <th style="width:15%;">Description</th>
                                <th style="width:8%;">Tag</th>
                                <th style="width:10%;">Price</th>
                                <th style="width:8%;">Order Time</th>

                                <th>Delevery Address</th>
                                <th style="width:12%;">Customer Information</th>
                                <th>Receiver Name</th>
                                <th>Remarks</th>
                                <th>Order Status</th>
                                <th class="bg-danger text-center text-white">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr style="font-size:12px;">
                                <td>@item.DeleveryDate.Replace("12:00:00 AM", "") (@item.DeleveryDayName)</td>
                                <td style="font-size:14px;"><b>@item.Quantity</b></td>
                                <td style="font-size:12px;">@item.DescriptionBn <br /> @item.DescriptionEn</td>
                                <td><b class="text-primary"> @item.TitleEn </b><br /> @item.TitleBn</td>
                                <td> <p>Regular: @item.RegularPrice /- Taka, <br /> Discount: @item.Discount %, <br /> <b class="text-primary">Price: @item.Price /- Taka </b></p></td>

                                <td>@item.OrderTime</td>

                                <td>@item.DeleveryAddress</td>
                                <td>
                                    <b> @item.FirstName @item.LastName @item.NickName </b> <br />
                                    Phone: @item.Phone , <br />Email: @item.Email
                                </td>
                                <td>@item.ReceiverName</td>
                                <td><b>User Remarks: </b> @item.UserRemarks <br />  <b>Admin Remarks: </b>  @item.AdminRemarks </td>

                                @if (item.OrderStatus.ToLower() == "initiated")
                                {
                                    <td style="font-weight:bolder;" class="bg-info text-white"> @item.OrderStatus.ToUpper()</td>
                                }
                                else if (item.OrderStatus.ToLower() == "cancled")
                                {
                                    <td style="font-weight:bolder;" class="bg-danger text-white"> @item.OrderStatus.ToUpper()</td>
                                }
                                else if (item.OrderStatus.ToLower() == "confirmed")
                                {
                                    <td style="font-weight:bolder;" class="bg-success text-white"> @item.OrderStatus.ToUpper()</td>
                                }
                                else if (item.OrderStatus.ToLower() == "completed")
                                {
                                    <td style="font-weight:bolder;" class="bg-success text-white"> @item.OrderStatus.ToUpper()</td>
                                }
                                else
                                {
                                    <td style="font-weight:bolder;" class="bg-light text-primary"> @item.OrderStatus.ToUpper()</td>
                                }

                                    <td>
                                        @if (Convert.ToDateTime(item.DeleveryDate) > DateTime.Now)
                                        {
                                            <a href="@Url.Action("DailyOrders", "Admin", new { })" class="btn btn-success col-sm-12"><i class="fa fa-shopping-cart"> </i> Confirm</a>
                                            <br /> <br />
                                            <a href="@Url.Action("DailyOrders", "Admin", new { })" class="btn btn-danger col-sm-12"><i class="fa fa-shopping-cart"> </i> Cancel</a>
                                        }
                                        else
                                        {

                                        }
                                    </td>

                            </tr>

                            }
                        </tbody>
                    </table>

                    <div class="row text-center" style="margin-left:auto; margin-right:auto; align-items:center;">

                        <div class="pagination">

                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount
                            <b style="margin-left:10px; font-size:18px;">
                                @Html.PagedListPager(Model, page => Url.Action("DailyOrders", new { page }))
                            </b>
                        </div>

                    </div>
                    <br />
                }


            </div>
            <br />
        }
        else
        {
            <br />
            <div class="col-sm-12">
                <div style="background-color:#ffffff; padding:15px; margin-top:50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


                    @if (Html.Raw(TempData["msgAlert"]).ToString() == "N")
                    {
                        <div class="alert alert-warning alert-dismissable col-sm-12">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <h4 class="text-center">@Html.Raw(TempData["msgAlertDetails"]).ToString().</h4>
                        </div>
                        <br />
                        // handle refreshing the view, or redirect to another View (window.location.href = "")
                    }

                </div>
            </div>
        }
    </div>

</div>



